
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background: url('https://cdn.seovx.com/?mom=302');
    background-size: 600px auto;


    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    /* Remove overflow: hidden; to allow scrolling */
    transition: filter 0.5s ease-in-out;
}

.grayscale {
    filter: grayscale(100%);
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

code {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px 0;
    word-wrap: break-word;
}

.copy-btn, .visit-btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#password-input {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-password {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#fullscreenContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden; /* 初始隐藏 */
}

/* 按钮样式 */
#fullscreenButton {
    padding: 20px;
    font-size: 18px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#fullscreenButton:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.button-container {
    text-align: center;
}

.visit-btn1 {
    background-color: red;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-40px);
    }
}

.visit-btn1 {
    margin: 0 auto;
    background-color: red;
    animation: bounce 1s infinite;
}

/*太阳系*/
.solarsys {

    width: 800px;
    height: 800px;;

    margin: 0 auto;
    background-color: #000000;
    padding: 0;
    transform: scale(1); /*缩放一倍*/
}

/*太阳属性*/
.sun {
    left: 357px;
    top: 357px;
    height: 90px;
    width: 90px;
    background-color: rgb(248, 107, 35);
    border-radius: 50%; /*边框圆角*/
    box-shadow: 5px 5px 10px rgb(248, 107, 35), -5px -5px 10px rgb(248, 107, 35), 5px -5px 10px rgb(248, 107, 35), -5px 5px 10px rgb(248, 107, 35); /*添加阴影*/
    position: absolute; /*绝对定位*/
    margin: 0;
}

/*水星属性*/
.mercury {
    left: 337.5px;
    top: 395px; /*left和top属性与transform-origin属性分别相加就是中心*/
    height: 10px;
    width: 10px;
    background-color: rgb(166, 138, 56);
    border-radius: 50%;
    position: absolute;
    transform-origin: 62.5px 5px; /*设置旋转元素的基点位置 太阳系的基点中心为太阳圆心 这里设置高和宽为800px 所以中心为400*/
    animation: rotate 1.5s infinite linear; /*元素动画 指定要绑定到选择器的关键帧名称 完成时间 播放次数（无限）如何完成周期*/
}

/*水星轨道*/
.mercuryOrbit {
    left: 342.5px;
    top: 342.5px;
    height: 115px;
    width: 115px; /*height和width取半径与left和top相加刚好等于400，所以行星才会和其相应的轨道相匹配*/
    background-color: transparent; /*指定背景元素为透明*/
    border-radius: 50%;
    border-style: dashed; /*轨道类型*/
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*金星属性*/
.venus {
    left: 309px;
    top: 389px;
    height: 22px;
    width: 22px;
    background-color: rgb(246, 157, 97);
    border-radius: 50%;
    position: absolute;
    transform-origin: 91px 11px;
    animation: rotate 3.84s infinite linear;
}

/*金星轨道*/
.venusOrbit {
    left: 320px;
    top: 320px;
    height: 160px;
    width: 160px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*地球属性*/
.earth {
    left: 266.5px;
    top: 391px;
    height: 18px;
    width: 18px;
    background-color: rgb(115, 114, 174);
    border-radius: 50%;
    position: absolute;
    transform-origin: 134px 9px;
    animation: rotate 6.25s infinite linear;
}

/*地球轨道*/
.earthOrbit {
    left: 275px;
    top: 275px;
    height: 250px;
    width: 250px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*火星属性*/
.mars {
    left: 222.5px;
    top: 392.5px;
    height: 15px;
    width: 15px;
    background-color: rgb(140, 119, 63);
    border-radius: 50%;
    position: absolute;
    transform-origin: 177.5px 7.5px;
    animation: rotate 11.75s infinite linear;
}

/*火星轨道*/
.marsOrbit {
    left: 230px;
    top: 230px;
    height: 340px;
    width: 340px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*木星属性*/
.jupiter {
    left: 134px;
    top: 379px;
    height: 42px;
    width: 42px;
    background-color: rgb(156, 164, 143);
    border-radius: 50%;
    position: absolute;
    transform-origin: 266px 21px;
    animation: rotate 74.04s infinite linear;
}

/*木星轨道*/
.jupiterOrbit {
    left: 155px;
    top: 155px;
    height: 490px;
    width: 490px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*土星属性*/
.saturn {
    left: 92px;
    top: 387px;
    height: 26px;
    width: 26px;
    background-color: rgb(215, 171, 68);
    border-radius: 50%;
    position: absolute;
    transform-origin: 308px 13px;
    animation: rotate 183.92s infinite linear;
}

/*土星轨道*/
.saturnOrbit {
    left: 105px;
    top: 105px;
    height: 590px;
    width: 590px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*天王星属性*/
.uranus {
    left: 41.5px;
    top: 386.5px;
    height: 27px;
    width: 27px;
    background-color: rgb(164, 192, 206);
    border-radius: 50%;
    position: absolute;
    transform-origin: 358.5px 13.5px;
    animation: rotate 524.46s infinite linear;
}

/*天王星轨道*/
.uranusOrbit {
    left: 55px;
    top: 55px;
    height: 690px;
    width: 690px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

/*海王星属性*/
.neptune {
    left: 10px;
    top: 390px;
    height: 20px;
    width: 20px;
    background-color: rgb(133, 136, 180);
    border-radius: 50%;
    position: absolute;
    transform-origin: 390px 10px;
    animation: rotate 1028.76s infinite linear;
}

/*海王星轨道*/
.neptuneOrbit {
    left: 20px;
    top: 20px;
    height: 760px;
    width: 760px;
    background-color: transparent;
    border-radius: 50%;
    border-style: dashed;
    border-color: gray;
    position: absolute;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg); /*100%表示动画完成时*/
    }
}

@media only screen and (max-width: 600px) {
    /* 隐藏太阳系容器及其内部元素 */
    .solarsys {
        display: none;
    }
}


